

.container{
  min-width: 80%;
}

.body{
  background-color: white;
}

p{
  margin-top: 20px;

}
button{
  margin-top: 25px;
}

img {
  max-height: 500px;
  margin-top: 40px;
}

.comments {
  margin-top: 100px;
}
