<!-- hikes.vtl -->
#foreach ($hike in $hikes)
 <li>
<a href="/states/$state_id/regions/$region_id/hikes/hike.getId()"> $hike.getId()"> $hike.getName(), <span>$region.find(hike.getStateID).getName()</span></a>

 </li>
#end


<!-- hikes.vtl -->
