<!--index.vtl-->
<h2>Rockhopper</h3>
<!-- 
<ul>
  #foreach($region in $regions)
    <li><a href="/select">$region.getName()</a></li>
  #end
</ul> -->


<nav class="navbar navbar-default">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="#">Admin</a></li>
      <li><a href="/select">Find Hike</a></li>

    </ul>
  </div>
</nav>
